{% extends 'django_blogs/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
    <h1>Edit your comment</h1>
{% endblock page_header %}

{% block content %}
<p>You are commenting on <b>{{ post }}</b></p>
<form method="POST" action="{% url 'django_blogs:edit_comment' comment.id %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name="submit" class="btn btn-primary">Save comment changes</button>
    {% endbuttons %}
</form>
{% endblock content %}