{% extends 'django_blogs/base.html' %}

{% load i18n %}

{% block content %}
    <p>{% trans "Post:" %} <b>{% trans post %}</b></p>
    <p><a href="{% url 'django_blogs:edit_post' post.id %}"><b>{% trans "Edit post" %}</b></a></p>
    <p><a href="{% url 'django_blogs:delete_post' post.id %}"><b>{% trans "Delete post" %}</b></a></p>
    <p>{% trans "Date added:" %} {% trans post.date_added %}</p>
    <p>{% trans "Post text:" %} {% trans post.body|linebreaks %}</p>
    <p>{% trans "Comments:" %}</p>
    <ul>
        {% for comment in comments %}
            <li>
                <p>
                    {% trans "This comment was posted by" %} 
                    <a href="{% url 'django_blogs:user_profile' comment.post.owner %}">{{ comment.post.owner }}</a> 
                        {% trans "on" %} {% trans comment.date_added %}
                </p>
                <p>{% trans comment.comment_body|linebreaks %}</p>
                <p><a href="{% url 'django_blogs:edit_comment' comment.id %}">{% trans "Edit comment" %}</a></p>
                <p><a href="{% url 'django_blogs:delete_comment' comment.id %}">{% trans "Delete comment" %}</a></p>
            </li>
        {% empty %}
            <li>{% trans "There are no comments yet." %}</li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'django_blogs:new_comment' post.id %}">{% trans "Add a comment" %}</a></p>
{% endblock content %}