{% extends 'django_blogs/base.html' %}

{% load i18n bootstrap4 %}

{% block page_header %}
    <h2>{% trans "Login to your blog account" %}</h2>
{% endblock page_header %}

{% block content %}
    <form method="POST" action="{% url 'users:login' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">{% trans "Log in" %}</button>
        {% endbuttons %}
        <input type="hidden" name="next"
            value="{% url 'django_blogs:index' %}" />
    </form>

    <p>{% trans "Forgot your password?" %} <a href="{% url 'users:reset_password' %}">
        {% trans "Click here to reset it!" %}</a></p>
{% endblock content %}